@define-color accent_color #ffb2bb;
@define-color accent_fg_color #670021;
@define-color accent_bg_color #ffb2bb;
@define-color window_bg_color #1d1011;
@define-color window_fg_color #f7dcde;
@define-color headerbar_bg_color #1d1011;
@define-color headerbar_fg_color #f7dcde;
@define-color popover_bg_color #1d1011;
@define-color popover_fg_color #f7dcde;
@define-color view_bg_color #1d1011;
@define-color view_fg_color #f7dcde;
@define-color card_bg_color #1d1011;
@define-color card_fg_color #f7dcde;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
