@define-color accent_color #b4cbc8;
@define-color accent_fg_color #203432;
@define-color accent_bg_color #b4cbc8;
@define-color window_bg_color #121413;
@define-color window_fg_color #e3e2e1;
@define-color headerbar_bg_color #121413;
@define-color headerbar_fg_color #e3e2e1;
@define-color popover_bg_color #121413;
@define-color popover_fg_color #e3e2e1;
@define-color view_bg_color #121413;
@define-color view_fg_color #e3e2e1;
@define-color card_bg_color #121413;
@define-color card_fg_color #e3e2e1;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
