@define-color accent_color #a5a8d6;
@define-color accent_fg_color #191d43;
@define-color accent_bg_color #a5a8d6;
@define-color window_bg_color #131316;
@define-color window_fg_color #e5e1e5;
@define-color headerbar_bg_color #131316;
@define-color headerbar_fg_color #e5e1e5;
@define-color popover_bg_color #131316;
@define-color popover_fg_color #e5e1e5;
@define-color view_bg_color #131316;
@define-color view_fg_color #e5e1e5;
@define-color card_bg_color #131316;
@define-color card_fg_color #e5e1e5;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
